
.idea/vcs.xml
.idea/ak_sm_recorder.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
build/__main__/__main__.exe.manifest
build/__main__/EXE-00.toc
build/__main__/COLLECT-00.toc
build/__main__/base_library.zip
build/__main__/Analysis-00.toc
build/__main__/PKG-00.toc
build/__main__/PYZ-00.pyz
build/__main__/ak_sm_recorder_e_0.0.1.pkg
build/__main__/Tree-00.toc
build/__main__/ak_sm_recorder_e_0.0.1.exe
build/__main__/Tree-02.toc
build/__main__/xref-__main__.html
build/__main__/PYZ-00.toc
build/__main__/warn-__main__.txt
build/__main__/Tree-01.toc
deprecated/gui_single_mode_bad/__pycache__/gui_frame_ext_config.cpython-38.pyc
deprecated/gui_single_mode_bad/about_window.py
deprecated/gui_single_mode_bad/assets/logo_grap.png
deprecated/gui_single_mode_bad/assets/logo_grap_orig.png
deprecated/gui_single_mode_bad/gui_frame_ext_config.py
deprecated/gui_single_mode_bad/__pycache__/gui_frame_ext_console.cpython-38.pyc
deprecated/gui_single_mode_bad/__pycache__/about_window.cpython-38.pyc
deprecated/gui_single_mode_bad/assets/icon_app.png
deprecated/main_webcam_1.py
deprecated/ui_manager_menu.py
deprecated/gui_single_mode_bad/gui_frame_ext_console.py
deprecated/ui_thread_menu.py
