
*.pyc
*.mkv
*.iml
.idea/*
.dist/*
.build/*

*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
src/helpers/__pycache__/helper_path.cpython-38.pyc
src/helpers/__pycache__/helper_path.cpython-38.pyc
*.pyc
src/helpers/__pycache__/helper_filesystem.cpython-38.pyc
dist/ak_sm_recorder-1.0.tar.gz
dist/ak_sm_recorder-1.0.tar.gz
dist/ak_sm_recorder-1.1.tar.gz
